<!-- Web.Config Configuration File -->
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<sessionState mode="Off" regenerateExpiredSessionId="false"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
