<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false" enableEventValidation="false" />
    <sessionState mode="InProc" />
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="home.aspx" />
        <add value="Default.aspx" />
        <add value="iisstart.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="downloads" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
